.product-container {
      display: flex;
      border-bottom: 2px solid gray;
      padding: 15px;
}

.product-details {
      padding-left: 25px;
}

.product-details h3 {
      color: blue;
}

.btn-regular {
      background: goldenrod;
      width: 10rem;
      padding: .5rem 0;
      border: 0;
      font-weight: bold;
      border-radius: .3rem;
      display: block;
}

.rating-style {
      font-size: .5rem;
      color: goldenrod;
      margin-bottom: 15px;
}