.service-card {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 15px;
      border: 2px solid goldenrod;

      position: relative;
      transition: all linear 0.4s;

}

.service-card img {
      height: 200px;
}



.service-card:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.service-card:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -1px;
      left: 0;
      background-color: goldenrod;
      transform-origin: bottom right;
      transition: transform 0.4s ease-out;
}

.service-card:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
}