.country-container {
      padding: 50px 0 80px 0;
}

.search-container {
      text-align: center;
      margin-top: 50px;
}

.search-container input {
      width: 500px;
      padding: 7px 10px;
      border-radius: 10px;
}