.Footer-part {
      background: #000;
      padding: 1.2rem 0;
}

.Footer-part li {
      margin-bottom: 20px;
}

.footer-style {
      color: #fff;
      text-decoration: none;
}
.footer-style:hover{
      color: #fff;
}