.product-container {
      display: flex;
      border-right: 2px solid gray;
      border-bottom: 2px solid gray;
      padding: 10px
}

.product-details {
      padding: 0 15px;
}

.btn-regular {
      background: goldenrod;
      border: 0;
      padding: 7px 15px;
      border-radius: 3px;
      cursor: pointer;
}